.loginLink {
    color: #999;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0.6px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}