.PhoneInput {
  width: 100% !important;
}

.phoneInputCountry {
  margin-left: 0.5rem;
}

.registrantNameBlock {
  display: flex;
  width: 100%;
}

.nameField {
  padding: 0;
}

.registrationLead {
  margin-bottom: 0;
}

@media (max-width: 915px) {
  .ReactModal__Content--after-open {
    overflow-y: scroll !important;
  }
  .registrantNameBlock {
    flex-direction: column;
    margin-top: 1rem;
  }
  .modalHeaderContent {
    padding-top: 17rem !important;
    margin-bottom: 0.25rem !important;
  }

  .ReactModal__Overlay {
    overflow-y: scroll !important;
  }
}
