form.forgot-password-form > h4 {
    margin-top: 0;
}

.forgotPasswordFormSubmitted {
    width: 60%;
    margin: 0 4rem 1rem 4rem;
}

.formSubmissionError {
    margin: 2rem 0;
    display: flex;
    align-self: center;
}