.shadowOverlay {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

section#home.parallax-section.shadowOverlay {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.pricing__header {
    width: 25%;
    margin: 0 auto;
    padding: 15px!important;
    border: 2px solid #666;
    background-color: rgba(0, 0, 0, 0.6);
}

#facility {
    margin-bottom: 3rem;
}

.facility__header {
    margin-top: 0;
}

.pricing__action {
    margin: 0 auto;
}

#facility-services {
    margin-bottom: 5rem;
}

.services-list {
    color: #242424;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.4px;
}