.PhoneInput {
    width: 100%!important;
}

.phoneInputCountry {
    margin-left: .5rem;
}

.registrantNameBlock {
    display: flex;
    width: 100%;
}

.nameField {
    padding: 0;
}

.registrationLead {
    margin-bottom: 0;
}